* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
.main {
  background-color: #fff4e1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background-color: #fe9393;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 2rem;
}
@media (min-width: 768px) {
  .container {
    padding: 5rem;
  }
}

.title {
  color: #821417;
  margin-bottom: 2rem;
  font-size: 4rem;
  font-family: 'Vina Sans', sans-serif;
}
@media (min-width: 768px) {
  .title {
    font-size: 6rem;
  }
}

.subtitle {
  font-family: Arial, sans-serif;
  color: #333;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .subtitle {
    font-size: 2rem;
  }
}

select,
button {
  padding: 1rem;
  font-size: 1.5rem;
  border: 0.1rem solid #fe9393;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #fff4e1;
    color: #333;
  }
}
@media (min-width: 768px) {
  select,
  button {
    font-size: 2rem;
  }
}
.player,
.computer {
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  padding: 1rem;
}

.result {
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  padding: 1rem;
  color: #821417;
}
@media (min-width: 768px) {
  .result {
    font-size: 2rem;
  }
}
footer {
  font-family: Arial, sans-serif;
  padding: 1.5rem;
  text-align: center;
  background-color: #fff4e1;
}
.copy{
  display:flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
  color: #821417;
}

.linkedin, .git{
  font-size: 2rem;
  padding-block: 1.5rem;
  padding-inline: 0.5rem;
  color: #fe9393;
}

